spring:
  application:
    name: ParkingAdmin
  datasource:
    url: jdbc:postgresql://localhost:5432/parkingdb
    username: parking_user
    password: parking_pass
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: none

server:
  port: 8080

logging:
  level:
    root: INFO